{{define "header"}}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="static/js/htmx.js"></script>
    <link rel="stylesheet" href="/static/output.css" />
    <title>{{.}}</title>
</head>
{{end}}

{{define "assets"}}
<!DOCTYPE html>
<html lang="en" class="font-mono text-white bg-black">
{{template "header" "Assets"}}
<body>
    <div id="root" class="flex flex-col justify-center items-center w-full min-h-[100dvh] text-center space-y-6">
        <div class="grid grid-cols-1 lg:grid-cols-3 sm:grid-cols-[repeat(auto-fit,minmax(200px,1fr))] gap-4 m-4 items-center">
            <img loading="lazy" src="/static/img/Logo.png" class="rounded shadow-lg mt-4 w-[250px]" />
            <img loading="lazy" src="/static/img/Logo-animado.gif" class="rounded shadow-lg mt-4 w-[250px]" />
            <div></div>
            <div class="sprite blue-cat animate-sprite-5 w-[270px]"></div>
            <div class="sprite green-cat animate-sprite-9 w-[270px]"></div>
            <img loading="lazy" src="/static/img/Orangecat-animado.gif" class="rounded shadow-lg mt-4 w-[270px]" />
    </div>
</body>
</html>
{{end}}