{{define "error"}}
<!DOCTYPE html>
<html lang="en" class="font-mono text-white bg-black">
  {{template "header" "Cyborgnerd"}}
  <body>
    <div
      id="root"
      class="flex flex-col justify-center items-center w-full min-h-[100dvh] text-center space-y-6"
    >
      <div class="flex flex-col justify-center items-center space-y-4">
        <p>This page is under construction!</p>
        <img width="300px" src="/static/img/Orangecat-animado.gif" />
      </div>
    </div>
  </body>
</html>
{{end}}
