{{define "hello-world"}}
<!DOCTYPE html>
<html lang="en" class="font-mono text-white bg-black">
<script src="static/wasm_exec.js"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/output.css">
    <title>CN</title>
</head>
<body>
    <section class="flex flex-col justify-center items-center w-full min-h-[100dvh] text-center">
        <div class="max-w-[400px]">
            <img src="/static/img/Logo.png">
        </div>
        <div class="sprite animate-sprite"></div>
    </section>

</body>
</html>
{{end}}
